.vs/shropshiredevnet.github.io/FileContentIndex/*.*
.vs/shropshiredevnet.github.io/v17/.wsuo
.vs/shropshiredevnet.github.io/v17/DocumentLayout.backup.json
.vs/shropshiredevnet.github.io/v17/DocumentLayout.json
.vs/shropshiredevnet.github.io/FileContentIndex/4289384c-acd7-4272-ae96-d24b383160c7.vsidx
.vs/shropshiredevnet.github.io/FileContentIndex/62fe8fac-3c72-4c78-8106-9d57ea7bad89.vsidx
